# Gmail SMTP credentials
GMAIL_USERNAME=annastrijbos11@gmail.com
GMAIL_APP_PASSWORD=hduiusrnduzqxjce

# Default email settings
DEFAULT_FROM_EMAIL=noreply@annastudio.nl
NEXT_PUBLIC_CONTACT_EMAIL=noreply@annastudio.nl
